@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

summary::-webkit-details-marker {
  display: none;
}

@layer components {
  :root {
    --slide-item-width: 188px;
    --slide-item-gap: 36px;
  }

  @screen lg {
    :root {
      --slide-item-width: 436px;
    }
  }
}

@layer utilities {
  .translate-center {
    transform: translate(-50%, -50%);
  }

  @variants responsive {
    /* Hide scrollbar for Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
      display: none;
    }

    /* Hide scrollbar for IE, Edge and Firefox */
    .no-scrollbar {
      -ms-overflow-style: none; /* IE and Edge */
      scrollbar-width: none; /* Firefox */
    }
  }
}
